/**
 * Write global styles here, in SCSS syntax.
 * Variables and mixins from the src/styles/variables.scss file
 * are available here without importing !
 */


[data-theme="light"]  {
  --primary-color: #0070f3;
  --secondary-color: #f5f5f5;
  --bg-color: #ffffff;
  --fg-color: #000000;
}

[data-theme="dark"]  {
  --primary-color: #0070f3;
  --secondary-color: #f5f5f5;
  --bg-color: #000000;
  --fg-color: #ffffff;
}

#app {
  background-color: var(--bg-color);
  color: var(--fg-color);

  @apply
    min-h-[100vh] flex flex-col;

  & a {
    @apply outline-none;
  }
}
