/**
 * Write global styles here, in SCSS syntax.
 * Variables and mixins from the src/styles/variables.scss file
 * are available here without importing !
 */

:root {
  .light & {
    --primary-color: #0070f3;
    --secondary-color: #f5f5f5;
    --bg-color: #000000;
    --fg-color: #ffffff;
  }
}

#app {
  @apply min-h-[1000vh] flex flex-col;
}
