/**
 * Write global styles here, in SCSS syntax.
 * Variables and mixins from the src/styles/variables.scss file
 * are available here without importing !
 */

:root {
  --transition-duration: 0.2s;

  --nav-indicator-radius: 4px;
  --nav-indicator-width: 100px;
  --nav-indicator-bg-color: #454545;
  --nav-indicator-dot-color: var(--fg-color);
  --nav-indicator-dot-left: 0px;
  --nav-indicator-block-left: 0px;
  --nav-indicator-bottom: -10px;
}

[data-theme="light"] {
  --focusable-bg-color: #e7e7e7;
  --primary-color: #0070f3;
  --secondary-color: #f5f5f5;
  --bg-color: #ffffff;
  --fg-color: #000000;
  --tag-bg-color: #ececec;
  --tag-border-color: #d4d4d4;
  --tag-ring-color: var(--fg-color);
  --tag-ring-offset-color: var(--bg-color);
  --theme-switch-border-color: #eaeaea;
}

[data-theme="dark"] {
  --focusable-bg-color: #363636;
  --focusable-init-opacity: 0.8;
  --primary-color: #0070f3;
  --secondary-color: #f5f5f5;
  --bg-color: #000000;
  --fg-color: #ffffff;
  --tag-bg-color: #303030;
  --tag-border-color: #454545;
  --tag-ring-color: var(--fg-color);
  --tag-ring-offset-color: var(--bg-color);
  --theme-switch-border-color: #333333;
}

#app {
  @apply
    min-h-[100vh] flex flex-col
    transition duration-[var(--transition-duration)]
    bg-[var(--bg-color)]
    text-[var(--fg-color)];

  & a, button {
    @apply outline-none;
  }

  & .tag {
    @apply
      inline-flex items-center
      transition duration-[var(--transition-duration)]
      select-none;
  }

  & .icon {
    @apply
      transition duration-[var(--transition-duration)]
      inline-flex items-center;
  }
}
