.powered-by-vercel {
  /*
    * Vercel Logo
    *
    * DISCLAIMER:
    * Original vercel logo colors are "#000000" and "#ffffff",
    * the modification here is to match the alog theme
    */
  @apply rounded-lg transition duration-200;

  [data-theme="light"] & {
    --powered-by-vercel-bg: #000000;
    --powered-by-vercel-text: #ffffff;
    --powered-by-vercel-icon: #ffffff;
    --powered-by-vercel-stroke: #3d3d3d;

    &:hover, &:focus, &:active {
      @apply ring-3 ring-black ring-offset-3 ring-offset-white;
    }
  }

  [data-theme="dark"] & {
    --powered-by-vercel-bg: #ffffff;
    --powered-by-vercel-text: #000000;
    --powered-by-vercel-icon: #000000;
    --powered-by-vercel-stroke: #d7d7d7;

    @apply opacity-87;

    &:hover, &:focus, &:active {
      @apply
        opacity-100
        ring-2 ring-white ring-offset-3 ring-offset-black;
    }
  }
}
