.theme-switch {
  @apply
    transition duration-[var(--transition-duration)]
    mt-4
    p-(x-4 y-2) rounded-md
    order-last
    w-full
    sm:(order-none mt-0 w-40 )
    border-(
      2
      [var(--theme-switch-border-color)]
    );

  [data-theme="light"] & {
    &:hover, &:focus, &:active {
      --theme-switch-border-color: var(--fg-color);
    }
  }

  [data-theme="dark"] & {
    @apply
      opacity-[var(--focusable-init-opacity)];

    &:hover, &:focus, &:active {
      --theme-switch-border-color: var(--fg-color);
      @apply
        opacity-100;
    }
  }
}
